<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="logs">
    <table class="table table-bordered table-hover horizontal-align">
        <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 10%">Время</th>
            <th style="width: 10%">idСессии</th>
            <th style ="width: 10%">Тип звонка</th>
            <th style ="width: 25%">Состояние</th>
            <th style ="width: 20%">ОтНомер</th>
            <th style ="width: 20%">КудаНомер</th>

            <th style="width: 5%">Ред.</th>
            <th style="width: 5%">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="log : ${logs}">
            <td th:text="${log.id} " style="text-align: center">#</td>
            <td th:text="${log.timestampInDateTimeFormat}" style="text-align: center">Время</td>
            <td th:text="${log.session_id}" style="text-align: center">idСессии</td>
            <td th:text="${log.typeName}" style="text-align: center">Тип звонка</td>
            <td th:text="${log.stateName}" style="text-align: center">Состояние</td>
            <td th:text="${log.from_number}" style="text-align: center">ОтНомер</td>
            <td th:text="${log.request_number}" style="text-align: center">КудаНомер</td>

            <td style="text-align: center"><a th:href="@{'/logs/edit/{id}'(id=${log.id})}"><i class="fa fa-edit" style="font-size:20px"></i></a></td>
            <td style="text-align: center"><a th:href="@{'/logs/delete/{id}'(id=${log.id})}"><i class="fa fa-trash" style="font-size:20px"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
</html>