<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <form class="form-horizontal" th:action="@{/saveLogs}" name="input_form" id="input_form"
              method="post" role="form">
            <div class="form-group">
                <input type="text" class="form-control" id="session" th:name="session" placeholder="Введите номер сессии" maxlength="100"/>
                <input type="text" class="form-control" id="type" th:name="type" placeholder="Введите тип звонка" maxlength="100"/>
                <input type="text" class="form-control" id="state" th:name="state" placeholder="Введите состояние звонка" maxlength="100"/>
                <input type="text" class="form-control" id="from_number" th:name="from_number" placeholder="Введите откуда звонят" maxlength="100"/>
                <input type="text" class="form-control" id="request_number" th:name="request_number" placeholder="Введите куда звонят" maxlength="100"/>
            </div>
            <button type="submit" class="btn btn-primary">Принять</button>
        </form>
    </div>
</div>
</body>
</html>