<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="head(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#563d7c">
<!--    <meta name="description"-->
<!--          content="">-->
    <meta name="keywords" content="ip телефония, ВАТС, Ростелеком, API">
<!--    <link rel="icon" type="image/png" th:href="@{/assets/logo.png}" sizes="16x16">-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="${title}"></title>
</th:block>

<th:block th:fragment="headForTable(title)">
    <th:block th:replace="::head(${title})"></th:block>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.css">
</th:block>
</html>