<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="auto"
>

<div id="messages" th:fragment="messages">
    <div th:if="${badMessage}" id="badMessage" th:name="badMessage" class="alert alert-danger mt-lg-5"
         role="alert"
         th:text="${badMessage}"></div>
    <div th:if="${goodMessage}" id="goodMessage" th:name="goodMessage" class="alert alert-success mt-lg-5"
         role="alert"
         th:text="${goodMessage}"></div>
</div>
</html>