<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="auto" class="h-100">
<head>
    <th:block th:replace="fragments/head :: headForTable('Список клиентов')"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="fragments/navbars :: selectNavbar"></div>
</header>
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h3 class="mt-2">Список клиентов</h3>

        <div id="messages" th:replace="fragments/messages :: messages"></div>

        <div id="toolbar">
            <button id="remove" class="btn btn-danger" disabled="disabled">
                <i class="glyphicon glyphicon-remove"></i> Удалить выбранные
            </button>
            <button id="add" name="add" class="btn btn-primary" th:onclick="|window.location.href='/client'|">
                Добавить
            </button>
        </div>
        <table
                id="clientsTable"
                data-toggle="table"
                data-locale="ru-RU"
                data-toolbar="#toolbar"
                data-search="true"
                data-show-refresh="true"
                data-show-toggle="true"
                data-show-fullscreen="true"
                data-show-columns="true"
                data-filter-control="true"
                data-show-columns-toggle-all="true"
                data-show-export="true"
                data-click-to-select="true"
                data-minimum-count-columns="2"
                data-show-pagination-switch="true"
                data-pagination="true"
                data-page-list="[10, 25, 50, 100, all]"
                data-url="/client/table"
                class="table table-bordered table-hover table-striped"
        >
        </table>
    </div>
</main>
<div th:replace="fragments/dialogs ::askDeleteDialog"></div>
<footer class="footer navbar-fixed-bottom mt-auto py-3" th:include="fragments/footer :: footerForTables"></footer>
<script type="text/javascript" th:src="@{/static/js/tables/clientsTable.js}"></script>
</body>
</html>