<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="auto" class="h-100">
<head>
    <th:block th:replace="fragments/head :: headForTable('Таблица с номерами')"/>
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="fragments/navbars :: selectNavbar"></div>
</header>
<main role="main" class="flex-shrink-0">
    <div class="container">
        <table
                id="RulesTable"
                data-toggle="table"
                data-detail-view="true"
                data-detail-formatter="detailFormatter"
                data-locale="ru-RU"
                data-toolbar="#toolbar"
                data-search="true"
                data-show-refresh="true"
                data-show-toggle="true"
                data-show-fullscreen="true"
                data-show-columns="true"
                data-filter-control = "true"
                data-show-columns-toggle-all="true"
                data-show-export="true"
                data-click-to-select="true"
                data-minimum-count-columns="2"
                data-show-pagination-switch="true"
                data-pagination="true"
                data-page-list="[10, 25, 50, 100, all]"
                data-url = "api/ruleTable"
                class="table table-bordered table-hover table-striped"
        >
        </table>
    </div>
</main>
<footer class="footer navbar-fixed-bottom mt-auto py-3" th:include="fragments/footer :: footerForTables"></footer>
<script type="text/javascript" th:src="@{/static/js/tables/routsTable.js}"></script>
</body>
</html>