<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head">
    <title>Spring Security Example </title>
</head>
<body>

<div id = "wrapper">
    <form id = "signin" th:action="@{/login}" method="post" autocomplete="off">
        <input type="text" id = "user" name="username" placeholder="Логин"/>
        <input type="password" id = "pass" name="password" placeholder="Пароль"/>
        <button type="submit" value="">&#62;</button>
        <input type="hidden" name="_csrf" value="${_csrf.token}" />
    </form>
    <div th:if="${param.error}">
        <h4>Неверный логин или пароль</h4>
    </div>
    <div th:if="${param.logout}">
        <h4>Вы вышли</h4>
    </div>
</div>
</body>
</html>