<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/loginHead :: loginhead">
    <title>Spring Security Example </title>
</head>

<body>
<div class = "container">
    <section id = "content">
    <div th:if="${message}">
        ${message}
    </div>
    <form th:action="@{/registration}" method="post" autocomplete="off">
        <h1>Регистрация</h1>
        <div>
            <input type="text" id = "user" name="username" placeholder="Логин"/>
        </div>
        <div>
            <input type="password" id = "pass" name="password1" placeholder="Пароль"/>
        </div>
        <div>
            <input type="password" id = "pass1" name="password2" placeholder="Повторите пароль"/>
        </div>
        <div class = "select">
            <select size="3" multiple name="roles">
                <option th:each="role : ${roles}" th:value="${role.name()}" th:text="${role.name()}">
            </select>
        </div>
        <input type="hidden" name="_csrf" value="${_csrf.token}" />
        <div>
            <input type="submit" value="Регистрация"/>
            <a href = "/login">Назад</a>
        </div>
    </form>
    </section>
</div>
</body>
</html>