<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
    <title>Spring Security Example </title>
</head>

<body>
<div id = "wrapper">
    <div th:if="${message}">
        ${message}
    </div>
    <form id = "signin" th:action="@{/registration}" method="post" autocomplete="off">
        <input type="text" id = "user" name="username" placeholder="Логин"/>
        <input type="password" id = "pass" name="password1" placeholder="Пароль"/>
        <input type="password" id = "pass1" name="password2" placeholder="Повторите пароль"/>
        <div >
            <select size="3" multiple name="roles">
                <option th:each="role : ${roles}" th:value="${role.name()}" th:text="${role.name()}">
            </select>
        </div>
        <input type="hidden" name="_csrf" value="${_csrf.token}" />
        <div><button type="submit" value="">&#62;</button></div>
    </form>
</div>
</body>
</html>