<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="auto" class="h-100">
<head>
    <th:block th:replace="fragments/head :: headForTable('Список пользователей')"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="fragments/navbars :: selectNavbar"></div>
</header>
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h3 class="mt-2">Список пользователей</h3>
        <div id="toolbar">
            <button id="remove" class="btn btn-danger" disabled>
                <i class="glyphicon glyphicon-remove"></i> Удалить выбранные
            </button>
            <button id="add" name="add" class="btn btn-primary" th:onclick="|window.location.href='/user'|">
                Добавить
            </button>
        </div>
        <!-- Колонки и прочее описаны в usersTable.js -->
        <table
                id="table"
                data-toggle="table"
                data-detail-view="true"
                data-detail-formatter="detailFormatter"
                data-locale="ru-RU"
                data-toolbar="#toolbar"
                data-search="true"
                data-show-refresh="true"
                data-show-toggle="true"
                data-show-fullscreen="true"
                data-show-columns="true"
                data-show-columns-toggle-all="true"
                data-show-export="true"
                data-click-to-select="true"
                data-minimum-count-columns="2"
                data-show-pagination-switch="true"
                data-pagination="true"
                data-page-list="[10, 25, 50, 100, all]"
                data-url="users/table"
                class="table table-bordered table-hover table-striped"
        >
        </table>
    </div>
</main>
<div th:replace="fragments/dialogs ::askDeleteDialog"></div>
<footer class="footer navbar-fixed-bottom mt-auto py-3" th:include="fragments/footer :: footerForTables"></footer>
<!-- My Script -->
<script type="text/javascript" th:src="@{/js/usersTable.js}"></script>
<script>
    // Подробнее
    function detailFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>')
        })
        return html.join('')
    }
</script>
</body>
</html>