<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <div th:if="${message}">
            <p>${message}</p>
        </div>
        <form class="form-horizontal" th:action="@{/save}" name="input_form" id="input_form"
              method="post" role="form">
            <div class="form-group">
                <input type="text" class="form-control" id="client" th:name="client" placeholder="Введите номер клиента" minlength="11" maxlength="100"/>
                <input type="text" class="form-control" id="number" th:name="number" placeholder="Введите номер менеджера" minlength="3" maxlength="100"/>
                <input type="text" class="form-control" id="FIOClient" th:name="FIOClient" placeholder="Введите ФИО клиента" minlength="3" maxlength="100"/>
            </div>
            <button type="submit" class="btn btn-primary">Принять</button>
        </form>
    </div>
</div>
</body>
</html>