<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head('Добавить правило')"></head>
<body>
<header>
    <div th:replace="fragments/navbars :: selectNavbar"></div>
</header>
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div th:if="${message}">
            <p th:text="${message}"></p>
        </div>
        <h3 class="mt-2">Добавить правило маршрутизации</h3>
        <form class="form-horizontal" th:action="@{/save}" name="input_form" id="input_form"
              method="post" role="form">
            <div class = "row">
                <div class = "form-group col-md-4">
                    <label for="name">Введите наименование правила</label>
                    <input type="text" class="form-control" id="name" th:name = "name" minlength="3" maxlength="100"/>
                </div>
            </div>
            <div class = "row" id = "test">
                <div class = "form-group col-md-4">
                    <label for="inputNameManager">Выберите менеджера</label>
                    <select id="inputNameManager" class="form-control">
                        <option selected>Выберите...</option>
                        <option th:name = "number" th:each="user : ${users}" th:value="${user.getNumber()}" th:text="${user.getName()}" disabled>
                    </select>
                </div>
                <div class = "col-auto">
                    <label id = "labelOr">или</label>
                </div>
                <div class = "form-group col-md-4">
                    <label for="inputNumManager">Введите номер менеджера</label>
                    <input type="text" class="form-control" th:name="number" id="inputNumManager"/>
                </div>
            </div>
            <div class = "row" id = "rowCheck">
                <div class="form-check" id = "smartCheck">
                    <input type="checkbox" class="form-check-input" id="checkSmartRout"/>
                    <label class="form-check-label" for="checkSmartRout">Умная маршрутизация</label>
                </div>
            </div>
            <h4>Введите данные клиента</h4>
            <div class="form-group">
                <input type="text" class="form-control" id="client" th:name="client" placeholder="Введите номер клиента"
                       minlength="3" maxlength="100"/>
                <input type="text" class="form-control" id="FIOClient" th:name="FIOClient"
                       placeholder="Введите ФИО клиента" minlength="3" maxlength="100"/>
            </div>
            <h4>Выберите дни недели</h4>
            <div class = "row">
                <div class = "col-lg-7">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="monday" value="option1">
                        <label class="form-check-label" for="monday">Пн</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="tuesday" value="option2">
                        <label class="form-check-label" for="tuesday">Вт</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="wensday" value="option3">
                        <label class="form-check-label" for="wensday">Ср</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="thusday" value="option4">
                        <label class="form-check-label" for="thusday">Чт</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="friday" value="option5">
                        <label class="form-check-label" for="friday">Пт</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="saturday" value="option6">
                        <label class="form-check-label" for="saturday">Сб</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="sunday" value="option7">
                        <label class="form-check-label" for="sunday">Вс</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Принять</button>
        </form>
    </div>
</main>
<footer class="footer navbar-fixed-bottom mt-auto py-3" th:include="fragments/footer :: footer"></footer>

<script type="text/javascript">
    $('#checkSmartRout').click(function() {
        if ($(this).is(':checked')) {
            $('#test').hide(100);
        } else {
            $('#test').show(100);
        }
    });
</script>

</body>
</html>